*{
    margin: 0;
    padding: 0;
}


body {
    /* background-color: #313B44; */
    margin: 0;
    background-color: #F0F0F0;
}

a {
    text-decoration: none;
}

.topNavBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.topNavBar>a>span{
    float: left;
}

.clearfix::after{
content: '';
display: block;
clear: both;
}

.topNavBar nav {
    margin-top: 24px;
    margin-bottom: 24px;
}

.topNavBar nav>ul {
    margin: 0;
}


.topNavBar nav>ul>li{
    float: left;
    list-style: none;
    margin-right: 17px;
    margin-left: 17px;
    
}

.topNavBar nav>ul>li>a{
    display: block;
    padding-top: 7px;
   font-size: 14px;
   color: #BEC1C4;
   padding-bottom: 7px;
   font-weight: bold;
   border-bottom: 3px solid transparent;
}

nav>ul>li>a:hover {
    border-bottom: 3px solid red;
}

.logo{
    margin-left: 17px;
    margin-top: 17px;
    margin-bottom: 17px;
    font-weight: bolder;
    font-family:"Arial Black";
    float: left;
    padding-top: 3px;
}

.rs{
    font-size: 28px;
    color: red;
    margin-right: 4px;
     
}

.card {
    font-size: 28px;
    color: #989CA1;
    /* font-family: Arial, Helvetica, sans-serif */
}

.backgroundImg{
    height: 515px;
    background-image: url("./img/bg.jpg");
    background-position:center center;
    background-size:cover;
}

.backgroundImg .mark{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.introduceContent{
    
    /* border: 1px solid red; */
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-top: -350px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.hello {
    background-color: #FF5E62;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 12px;
    position: relative;
    display: inline-block;
    margin-bottom: 23px;
}

.trangle{
    display: block;
    width:0px;
    border: 10px solid transparent;
    border-top:0px solid;
    border-left:10px solid #FF5E62;
    position: absolute;
    top: 100%;
    left: 4px;
}

.avator{
    float: left;
}

.text{
    float: left;
    margin-left: 65px;
    width: 470px;
}

.introduceInner{
    padding:50px;
    /* height: 100%; */
}

.introduceInner .text hr{
    border: none;
    height: 0;
    border-top: 1px solid #dedede;
    margin: 20px 0;
}

.introduceInner .text dt,
.introduceInner .text dd{
    float: left;
    margin: 5px 0;
}

.introduceInner .text dt{
    font-weight: bold;
    width: 30%;
}

.introduceInner .text dd{
   width: 70%;
   color: #9da0a7
}

.media {
    text-align: center;
    background-color: #FD5F61;
}

.media a{
    width: 40px;
    height: 40px;
    display: inline-block;
    /* background-color: #FD5F61; */
    border-radius: 50%;
    margin: 16px;
}

.media a:hover{
    background-color: #cf5d5f;
}

.icon {
    width: 30px; 
    height: 30px;
    vertical-align: top;
    fill: #fff;
    overflow: hidden;
    margin: 5px 0;
 }
.downloadResumeWrapper{
    text-align: center;
}
.downloadResume{
    color: #3D4651;
    font-weight: bold;
    display: inline-block;
    border: 1px solid #CACDCF;
    padding: 24px 55px;
    margin: 25px auto;
    transition: box-shadow .2s;
}

.downloadResume:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.discription{
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 1px;
    font-family: kai;
    color: #6E6E6E;
}

.skills {
    /*background-color: #fff;*/
    margin-bottom: 40px;
}
.skills h2, .portfolio h2{
    text-align: center;
    margin: 20px auto;
    font-weight: normal;

}

.skills .displaySkill{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    padding: 40px 50px 20px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.skills .displaySkill ol{
    margin: 0 auto;
    /*text-align: center;*/
    list-style: none;
}

.skills .displaySkill ol li .skill-name{
    display: block;
    margin-bottom: 5px;
}

.skills .displaySkill ol li{
    float: left;
    width: 50%;
    color: #3d4451;
    font-size: 14px;
    box-sizing: border-box;
    padding-right: 30px;
    margin-bottom: 40px;
}

.skills .displaySkill ol li:nth-child(even){
    padding-right: 0;
}



.skills .displaySkill .progress{
    width: 100%;
    /*border: 1px solid red;*/
    height: 5px;
    border-radius: 50px;
    background-color: #FFDFE0;
}

.skills .displaySkill .progress .progress-num{
    width: 70%;
    border: 1px solid red;
    height: 3px;
    background-color: #FF5E62;
    border-radius: 5px;
    
}
section.portfolio {
    /*border: 1px solid red;*/
    text-align: center;
}

section.portfolio nav{
    text-align: center;
}
section.portfolio nav ul{
    /*border: 1px solid red;*/
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

section.portfolio .topTitle{
    /*border: 1px solid red;*/
    display: inline-block;
    color: #3D4651;
}

section.portfolio nav ul li{
    float: left;
    list-style: none;
    margin-right: 50px;
    font-size: 14px;
    cursor: pointer;
    /*font-weight: bold;*/
}

section.portfolio nav ul li:last-child{
    margin-right: 0;
}



section.portfolio .topTitle .progress{
    /*border: 1px solid red;*/
    height: 5px;
    margin-top: 15px;
    border-radius: 50px;
    background-color: #fff;
}

section.portfolio .topTitle .progress .progress-num{
    border-radius: 5px;
    width: 50px;
    height: 100%;
    background-color: #FF5E62;
    transition: all .2s;
}

section.portfolio .topTitle .progress .station2{
    width: 90px;
    margin-left: 50px;
}

section.portfolio .topTitle .progress .station3{
    width: 75px;
    margin-left: 150px;
}

section.portfolio .works{
    margin: 28px auto;
    /*border: 1px solid red;*/
    width: 907px;
    height: 600px;
    position: relative;
}


section.portfolio .works .work1{
    position: absolute;
    background: url("img/1.jpg") center center;
    background-size:cover;
    height: 600px;
    width: 600px;
    top: 0;
    left: 0;
}

section.portfolio .works .work2{
    position: absolute;
    background: url("img/2.jpg") center center;
    background-size:cover;
    width: 290px;
    height: 275px;
    top: 0;
    left: 617px;
}

section.portfolio .works .work3{
    position: absolute;
    background: url("img/3.jpg") center center;
    background-size:cover;
    width: 290px;
    height: 275px;
    top: 325px;
    left: 617px;
}



